<%- include('partials/header') -%>
<div>
  <form action="/appointment/createPost" enctype="multipart/form-data" method="POST">
    <div class="hero min-h-740 py-3">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200">
          <div class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Add Date</span>
              </label>
              <input type="datetime-local" placeholder="MM/DD/YYY" class="input input-bordered" id="date" name="date"/>
            </div>
            <div class="dropdown dropdown-hover">
              <label tabindex="0" class="btn m-1">Choose Client</label>
              <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
                <select name="client">
                  <% let options = []; %>
                  <% for(var i=0; i<clientList.length; i++) {%>
                        <option value="<%= clientList[i].id %>"><%= clientList[i].name.toUpperCase() %></option>
                  <% } %>
                </select>
              </ul>
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn bg-cyan-900 hover:bg-cyan-700 text-cyan-50" value="Upload">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
      <div class="hero min-h-fit py-3 mb-20">
        <div class="card flex-shrink-0 w-fit max-w-auto shadow-2xl bg-base-200">
          <div class="card-body">
            <div class="overflow-x-auto w-full">
              <table class="table w-full">
                <!-- head -->
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Client</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<posts.length; i++) {%>
                    <tr>
                      <td>
                        <div>
                            <% const apptDate = new Date(posts[i].date).toString() %>
                            <h2><%= apptDate.substring(0,15) %> @ <%= apptDate.substring(16,21) %></h2>
                        </div>
                      </td>
                      <td>
                        <% const clientls = clientList; %>
                        <% const clientlsResult = clientls.find(({id}) => id == posts[i].client); %>
                        <%= clientlsResult.name.toUpperCase() %>
                      </td>
                      <th>
                        <div class="dropdown">
                          <label tabindex="0" class="btn m-1">Edit</label>
                          <div tabindex="0" class="dropdown-content card card-compact w-64 p-2 shadow bg-primary text-primary-content">
                            <form action="/appointment/editPost/<%= posts[i].id %>?_method=PUT" method="POST">
                              <div class="hero min-h-740 py-3">
                                  <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200">
                                    <div class="card-body">
                                      <div class="form-control">
                                        <input type="datetime-local" class="input input-bordered" id="editDate" name="editDate"/>
                                      </div>
                                      <div class="form-control mt-6">
                                        <input type="hidden" id="editClient"  name="editClient" value="<%= posts[i].client %>"></input>
                                        <button type="submit" class="btn bg-cyan-900 hover:bg-cyan-700 text-cyan-50" value="Upload">Save</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </form>
                          </div>
                        </div>
                        <div class="avatar">
                          <form class="" action="/appointment/deletePost/<%= posts[i]._id %>?_method=DELETE" method="POST">
                            <button class="btn bg-cyan-900 hover:bg-cyan-700 fa fa-trash" type="submit"></button>
                          </form>
                        </div>
                        <button class="btn btn-ghost btn-xs">
                          <div>
                            <a href="/appointment/<%= posts[i]._id%>" >Workout</a>
                          </div>
                        </button>
                      </th>
                    </tr>
                  <%}%>
                </tbody>
                <!-- foot -->
                <tfoot>
                  <tr>
                    <th>Date</th>
                    <th>Client</th>
                    <th></th>
                  </tr>
                </tfoot> 
              </table>
            </div>
          </div>
        </div>
      </div>  
</div>
<%- include('partials/footer') -%>