<%- include('partials/header') -%>
<div class="flex flex-col w-full lg:flex-row">
      <div class="grid flex-grow h-920 card bg-base-300 rounded-box place-items-center">
          <div class="">
            <h2>Add An Appointment</h2>
            <form action="/appointment/createPost" enctype="multipart/form-data" method="POST">
              <div class="">
                  <label for="date" class="form-label">Date MM/DD/YYYY</label>
                  <input type="text" class="form-control" id="date" name="date">
              </div>
              <div class="">
                <label for="client" class="form-label">Client</label>
                <textarea class="form-control" id="client" name="client"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="divider lg:divider-horizontal">Appointments</div>
      <div class="grid h-920 card bg-base-300 rounded-box">
        <ul class="grid grid-cols-5 gap-4 place-items-start">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="">
              <span><%= posts[i].date%></span>
              <span><%= posts[i].client%></span>
            <form
          action="/appointment/deletePost/<%= posts[i]._id %>?_method=DELETE"
          method="POST"
          class=""
            >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
          </li>
        <% } %>
        </ul>
      </div>  
    </div>
</div>
<%- include('partials/footer') -%>