<%- include('partials/header') -%>
<form action="/clientWorkout/createPost" method="POST">
  <div class="dropdown dropdown-hover">
    <label tabindex="0" class="btn m-1">Choose Exercise</label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <select name="exercise">
          <% let eOptions = []; %>
          <% for(var i=0; i<elist.length; i++) {%>
              <option value="<%= elist[i].title.toUpperCase() %>"><%= elist[i].title.toUpperCase() %></option>
          <%}%>
        </select>
      </ul>
  </div>
  <div class="dropdown dropdown-hover">
    <label tabindex="0" class="btn m-1">Reps</label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <select name="repititions">
          <% let rOptions = []; %>
          <% for(var i=0; i<100; i++) {%>
            <option value='<%= i %>'><%= i %></option>
          <%}%>
        </select>
      </ul>
  </div>
  <input type="hidden" id="apptID"  name="appointment" value="<%= apptPost.id %>"></input>
  <button type="submit" value="Upload">ADD</button>
</form>
  <div class="hero min-h-fit py-3 mb-20">
        <div class="card flex-shrink-0 w-fit max-w-auto shadow-2xl bg-base-200">
          <div class="card-body">
            <div class="overflow-x-auto w-full">
              <table class="table w-full">
                <thead>
                  <tr>
                    <th>Exercise</th>
                    <th>Reps</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<cworkout.length; i++) {%>
                    <% if(apptPost._id == cworkout[i].appointment){ %>
                    <tr>
                      <td>
                          <div>
                            <%= cworkout[i].exercise.toUpperCase() %>
                          </div>
                      </td>
                      <td>
                        <%= cworkout[i].repititions %>
                      </td>
                      <th>
                        <div class="avatar">
                          <form class="" action="/clientWorkout/deletePost/<%= cworkout[i]._id %>?_method=DELETE" method="POST">
                            <button class="btn bg-cyan-900 hover:bg-cyan-700 fa fa-trash" type="submit"></button>
                          </form>
                        </div>
                      </th>
                    </tr>
                    <%}%>
                  <%}%>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Exercise</th>
                    <th>Reps</th>
                    <th></th>
                  </tr>
                </tfoot> 
              </table>
            </div>
          </div>
        </div>
      </div>
</div>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-6">
      <h2><%= apptPost.date %></h2>
     
      <div class="row justify-content-between">
        <form
          class="col-1"
          action="/post/likePost/<%= apptPost.id %>?_method=PUT"
          method="POST"
        >
          <button class="btn btn-primary fa fa-heart" type="submit"></button>
        </form>
        <h3 class="col-3">Likes: <%= apptPost.likes %></h3>
        <%if(apptPost.user == user.id){ %>
        <form
          action="/post/deletePost/<%= apptPost._id %>?_method=DELETE"
          method="POST"
          class="col-3"
        >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
    </div>
    <div class="col-3 mt-5">
      <p><%= apptPost.client %></p>
    </div>
    <div class="mt-5">
      <h2>Add a comment</h2>
      <form action="/comment/createComment/<%=apptPost._id%>" method="POST">
        <div class="mb-3">
            <label for="comment" class="form-label">Comment</label>
            <input type="text" class="form-control" id="comment" name="comment">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    <ul>
      <% for(var i=0; i<comments.length; i++) {%>
        <li class="col-6 justify-content-between mt-5">
          <%= comments[i].comment%>
        </li>
      <% } %>
    </ul>
</div>
<%- include('partials/footer') -%>
