<%- include('partials/header') -%>
<div class="flex flex-row place-content-around">
  <form action="/client/createPostClient" enctype="multipart/form-data" method="POST">
    <div class="basis-1/3 my-10">
      <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-secondary">
        <div class="card-body">
          <div class="form-control">
            <label class="label">
              <span class="label-text">Client Name</span>
            </label>
            <input type="text" placeholder="ex. The Rock" class="input input-bordered" id="name" name="name"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Client Address</span>
            </label>
            <input type="text" placeholder="ex. 12" class="input input-bordered" id="address" name="address"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Client Phone Number</span>
            </label>
            <input type="tel" placeholder="ex. 407-222-1111" class="input input-bordered" id="phone" name="phone"/>
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Client Email</span>
            </label>
            <input type="email" placeholder="ex. bob@gmail.com" class="input input-bordered" id="email" name="email"/>
          </div>
          <div class="form-control">
            <label for="imgUpload" class="block mb-2 text-sm font-medium">Photo</label>
            <input type="file" class="text-sm
            file:mr-5 file:py-2 file:px-6
            file:border-0 file:rounded-lg
            file:text-sm file:font-medium
            hover:file:cursor-pointer hover:file:bg-base-100
            hover:file:text-base-100" id="imageUpload" name="file">
          </div>
          <div class="form-control mt-6">
            <button type="submit" class="btn btn-info" value="Upload">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="basis-2/3 my-10">
    <div class="card flex-shrink-0 w-auto max-w-auto shadow-2xl bg-secondary">
      <div class="card-body">
        <div class="overflow-x-auto w-full">
          <table class="table w-full">
            <!-- head -->
            <thead>
              <tr>
                <th>Info</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <% for(var i=0; i<posts.length; i++) {%>
                <tr>
                  <td>
                    <div class="flex items-center space-x-3">
                      <div class="mask mask-squircle">
                          <a href="/client/<%= posts[i]._id%>" ><img class="object-cover w-24 h-24 hover:w-28 hover:h-28" src="<%= posts[i].image%>" alt="Client image" /></a>
                      </div>
                    </div>
                  </td>
                  <td>
                    <div>
                      <%= posts[i].name.toUpperCase() %>
                    </div>
                  </td>
                  <td>
                    <a href="tel:<%= posts[i].phone %>"><%= posts[i].phone %></a>
                  </td>
                  <th>
                    <div class="avatar">
                      <form action="/client/deletePost/<%= posts[i].id %>?_method=DELETE" method="POST" class="col-3">
                        <button class="btn fa fa-trash" type="submit"></button>
                      </form>
                    </div>
                  </th>
                </tr>
              <% } %>
            </tbody>
            <!-- foot -->
            <tfoot>
              <tr>
                <th>Info</th>
                <th>Name</th>
                <th>Phone</th>
                <th>Delete</th>
              </tr>
            </tfoot> 
          </table>
        </div>
      </div>
    </div>
  </div>  
<%- include('partials/footer') -%>