<%- include('partials/header') -%>
<div class="flex flex-col w-full lg:flex-row">
      <div class="grid flex-grow h-920 card bg-base-300 rounded-box place-items-center">
          <div class="">
            <h2>Add An Exercise</h2>
            <form action="/exercise/createPost" enctype="multipart/form-data" method="POST">
              <div class="">
                  <label for="title" class="form-label">Exercise</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="">
                <label for="caption" class="form-label">Repititions</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>
      <div class="divider lg:divider-horizontal">Workout</div> 
      <div class="grid h-920 card bg-base-300 rounded-box">
        <ul class="grid grid-cols-5 gap-4 place-items-start">
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="">
            <a href="/exercise/<%= posts[i]._id%>">
              <span><%= posts[i].title%></span>
              <span><%= posts[i].caption%></span>
            </a>
            <form
          action="/exercise/deletePost/<%= posts[i]._id %>?_method=DELETE"
          method="POST"
          class=""
            >
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
          </li>
        <% } %>
        </ul>
      </div>  
    </div>
</div>
<%- include('partials/footer') -%>