<%- include('partials/header') -%>
<div class="">
  <form action="/exercise/createPost" enctype="multipart/form-data" method="POST">
    <div class="hero min-h-740 py-3">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200">
          <div class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Add Exercise</span>
              </label>
              <input type="text" placeholder="ex. pullups" class="input input-bordered" id="title" name="title"/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Add Repititions</span>
              </label>
              <input type="text" placeholder="ex. 12" class="input input-bordered" id="caption" name="caption"/>
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn bg-cyan-900 hover:bg-cyan-700 text-cyan-50" value="Upload">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
      <div class="hero min-h-fit py-3 mb-20">
        <div class="card flex-shrink-0 w-fit max-w-auto shadow-2xl bg-base-200">
          <div class="card-body">
            <div class="overflow-x-auto w-full">
              <table class="table w-full">
                <!-- head -->
                <thead>
                  <tr>
                    <th>Exercise</th>
                    <th>Reps</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<posts.length; i++) {%>
                    <tr>
                      <td>
                          <div>
                            <%= posts[i].title.toUpperCase() %>
                          </div>
                      </td>
                      <td>
                        <%= posts[i].caption.toUpperCase() %>
                      </td>
                      <th>
                        <div class="avatar">
                          <form class="" action="/exercise/deletePost/<%= posts[i]._id %>?_method=DELETE" method="POST">
                            <button class="btn bg-cyan-900 hover:bg-cyan-700 fa fa-trash" type="submit"></button>
                          </form>
                        </div>
                      </th>
                    </tr>
                  <% } %>
                </tbody>
                <!-- foot -->
                <tfoot>
                  <tr>
                    <th>Exercise</th>
                    <th>Reps</th>
                    <th></th>
                  </tr>
                </tfoot> 
              </table>
            </div>
          </div>
        </div>
      </div>  
</div>
<%- include('partials/footer') -%>