<%- include('partials/header') -%>
<div class="">
  <form action="/exercise/createPost" enctype="multipart/form-data" method="POST">
    <div class="hero min-h-740 py-2">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200">
          <div class="card-body">
            <div class="form-control">
              <label class="label">
                <span class="label-text">Add Exercise</span>
              </label>
              <input type="text" placeholder="ex. pullups" class="input input-bordered" id="title" name="title"/>
            </div>
            <div class="form-control">
              <label class="label">
                <span class="label-text">Add Repititions</span>
              </label>
              <input type="text" placeholder="ex. 12" class="input input-bordered" id="caption" name="caption"/>
            </div>
            <div class="form-control mt-6">
              <button type="submit" class="btn bg-cyan-900 hover:bg-cyan-700 text-cyan-50" value="Upload">Save</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
      <div class="hero min-h-740 py-2">
        <div class="card flex-shrink-0 w-full max-w-sm shadow-2xl bg-base-200">
          <div class="card-body">
            <ul class="">
              <% for(var i=0; i<posts.length; i++) {%>
                  <li class="">
                    <a href="/exercise/<%= posts[i]._id%>">
                      <span><%= posts[i].title%></span>
                      <span><%= posts[i].caption%></span>
                    </a>
                <form action="/exercise/deletePost/<%= posts[i]._id %>?_method=DELETE" method="POST">
                  <button class="btn bg-cyan-900 hover:bg-cyan-700 fa fa-trash" type="submit"></button>
                </form>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>  
</div>
<%- include('partials/footer') -%>